layout{
    focus-ring{
        active-gradient from="#85d2e7cc" to="#bfc4ebcc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#343a3c"
        urgent-color "#ffb4ab"
    }
}
